body {
  display: flex;
  justify-content: center;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  max-width: 800px;
}

.locationSearch {
  width: 200px;
}

.searchSuggestion {
  padding: 0.5em;
  border: 1px solid gray;
}

.weather-data button {
  background-color: blue;
  border: none;
  color: white;
  padding: 1em 2em;
  margin: 1em 0;
  cursor: pointer;
  min-width: 150px;
}
.weather-data button:hover {
  background-color: darkblue;
}
.weather-data button:disabled {
  background-color: rgb(14, 14, 171);
  cursor: default;
}

.marker-title {
  font-size: 14px;
  position: relative;
  top: 4px;
  left: 4px;
}
.marker-title span:last-child {
  position: absolute;
  left: 0px;
  font-size: 11px;
  top: 24px;
  font-style: italic;
  color: gray;
  width: 210px;
}

.marker-title #count {
  font-size: 20px;
  font-weight: bold;
  top: 3px;
  left: 2px;
  position: relative;
}
.data-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.weather-data input {
  outline: none;
  font-size: 0;
  height: 28px;
  width: 20px;
  border: navajowhite;
  padding: 8px;
}

.weather-box {
  display: flex;
  flex-direction: column;
}

.weather-box > div {
  border: 1px solid gray;
  padding: 0.5em;
  margin: 3px 0;
  border-radius: 5px;
  position: relative;
}

.weather-data {
  min-width: 400px;
}

.marker-count-wrapper {
  margin: 0 1em;
  position: relative;
  top: -12px;
  left: 10px;
}

.weather-img {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

.destination,
.origin {
  /* float: right; */
  color: rgb(15, 107, 15);
  font-weight: bold;
  font-size: 14px;
}
.origin {
  color: rgb(228, 153, 13);
}
